* {
	font-size: medium !important;
}

body {
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	background-color: #F5F6F8;
}

#logotipo {
	width: 50px;
	height: 50px;
}

#home-header {
	display: flex;
	background-color: #FFF9F3;
	padding: 10px 75px 10px 75px;
	justify-content: space-between;

}

#header-left {
	display: flex;
	align-items: center;
}

#header-center {
	display: flex;
}

#header-right{
	display: flex;
	align-items: center;
}

#category-select {
	width: 50%;
	background-color: #EB8426;
	border-radius: 30px;
	font-size: smaller !important;
	margin: 0 20px 0 20px;
}

#search {
	width: 200%;
	border-radius: 20px !important;
	border: 1px solid #f1efef ;
}

#search-image {
	margin: 0 10px 0 10px;
}

#search-image:hover {
	width: 12%;
	backdrop-filter: sepia(90%);
	transition: all 0.8s linear;
}

#help-button {
	background-color: #EB8426;
	border-radius: 30px;
	font-size: smaller !important;
}

#account-button, #kart-button, #pay-button {
	padding: 10px;
	display: flex;
	width: 130px;
	justify-self: center;
	align-items: center;
	background-color: transparent;
	border: none;
	width: 75%;
	border-radius: 30px;
}

#account-button:hover, #kart-button:hover, #pay-button:hover {
	
	background-color: #EB8426;
	transition: all 0.8s linear;
}

#header-text {
	display: flex;
	align-items: center;
	font-weight: 800;
	color: #EB8426;
}